#!/bin/bash
# Environment variables for Holepunch Go services

# Common
export PROJECT_ID="iceberg-eli"      # GCP project
export REGION="us-central1"         # Artifact Registry region
export RENDEZVOUS_URL="https://rendezvous-service-go-982092720909.us-central1.run.app" # URL of the deployed Rendezvous service
export BENCHMARK_GCS_URL="https://storage.googleapis.com/holepunching/yellow_tripdata_2025-02.parquet" # GCS file URL for the worker benchmark

# Rendezvous service
export AR_RENDEZVOUS_REPO_NAME="rendezvous-repo-go"
export RENDEZVOUS_SERVICE_NAME="rendezvous-service-go"
export RENDEZVOUS_IMAGE_TAG="latest"

# Worker service  
export AR_WORKER_REPO_NAME="worker-repo-go"
export WORKER_SERVICE_NAME="worker-service-go"
export WORKER_IMAGE_TAG="latest"
export INTERNAL_UDP_PORT="8081"
export BENCHMARK_CHUNK_SIZE="8192" # Default chunk size for benchmark
export STUN_HOST="stun.l.google.com"
export STUN_PORT="19302"

# Local development
export RENDEZVOUS_SERVICE_URL="http://localhost:8000" # For local development

echo "Holepunch Go environment variables loaded from .envrc"